<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                2018©Hyper  -  Coderthemes.com
            </font></font></div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="javascript: void(0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关于</font></font></a>
                    <a href="javascript: void(0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">支持</font></font></a>
                    <a href="javascript: void(0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系我们</font></font></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</div>

</body>
    <script src="/assets/admin/js/app.min.js"></script>
    <script src='/assets/public/jquery.twbsPagination.min.js'></script>

</html>